body {
    font-family: Roboto, sans-serif;
    background-color: #000;
}
h1{
    display: flex;
    justify-content: center;
    color: #3F0071;
    
}
#input{
    display: flex;
    justify-content: center;
    
}
#summarize{
    display: flex;
    justify-content: center;
}